
h2{ 
    border-radius: 80px;
    font-size: 20px;
    padding: 40px;
}
#h1{
    background-color: gray;
    width: 120px;
    border-top-right-radius: 12px;
    color: beige;
}
h2::first-letter{
color: gray;
font-size: 90px;
}
#a{
    color: gray;
}
#a:hover{
    color: beige;
}
#img1{
    height: 250px;
    width: 500px;
    border-radius: 25px;
    border: 2px solid gray;
}
#img1:hover{
    height: 300px;
    width: 550px;
    border-radius: 25px;
    border: 2px solid beige;
}
::selection{
    background-color: yellow;
}

#l{
margin-right: 10px;
font-size: 25px;
font-weight: bold;
background-color: beige;
border-top-right-radius: 12px;
}
a{
    color: gray;
}

#l:hover{
    margin-right: 10px;
    font-size: 30px;
    font-weight: bold;
    background-color: gray;
    border-top-right-radius: 12px;
}
a:hover{
    color: beige;
}
#img2{
    height: 70px;
    width: 70px;
}
#img2:hover{
    height: 80px;
    width: 80px;
    box-shadow: gray 5px 3px;
}