
h2{ 
    border-radius: 80px;
    font-size: 20px;
    padding: 40px;
}
#h1{
    background-color: gray;
    width: 180px;
    border-top-right-radius: 12px;
    color: beige;
}
h2::first-letter{
color: gray;
font-size: 90px;
}
#a{
    color: gray;
}
#a:hover{
    color: beige;
}
#img1{
    height: 250px;
    width: 500px;
    border-radius: 25px;
    border: 2px solid gray;
}
#img1:hover{
    height: 300px;
    width: 550px;
    border-radius: 25px;
    border: 2px solid beige;
}
::selection{
    background-color: yellow;
}

#l{
margin-right: 10px;
font-size: 25px;
font-weight: bold;
background-color: beige;
border-top-right-radius: 12px;
}
a{
    color: gray;
}

#l:hover{
    margin-right: 10px;
    font-size: 30px;
    font-weight: bold;
    background-color: gray;
    border-top-right-radius: 12px;
}
a:hover{
    color: beige;
}
#img2{
    height: 70px;
    width: 70px;
}
#img2:hover{
    height: 80px;
    width: 80px;
    box-shadow: gray 5px 3px;
}
.f1{
    width: 100px;
    border-radius: 10px;
    background-color: beige;
    margin-left: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.f1:hover{
    width: 100px;
    border-radius: 10px;
    background-color: black;
    margin-left: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}
.f2{
    border-radius: 10px;
    background-color: beige;
    margin-right: 20px;
    
}
.f2:hover{
    border-radius: 10px;
    background-color: white;
    margin-right: 20px;
    
}
.f3{
    border-radius: 10px;
    background-color: beige;
    height: 80px;
    
}
.f3:hover{
    border-radius: 10px;
    background-color: white;
    height: 80px;
    
}
form{
    margin: 10px;
    background-color: gray;
    border: 2px solid;
    border-radius: 25px;
    width: 470px;
    box-shadow: white 5px 3px
}
#c{
    margin: 10px;
    background-color: beige;
    border: 2px solid;
    border-radius: 10px;
}
.img2{
    margin-left: 50px;
    background-color: gray;
    border: 2px solid;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    box-shadow: gray 5px 3px;
}
.img2:hover{
    margin-left: 50px;
    background-color: gray;
    border: 2px solid;
    border-radius: 10px;
    width: 350px;
    height: 300px;
    box-shadow: gray 5px 3px;
}
